_alectryon
_build
html
**/.Makefile.coq
**/.Makefile.coq.d
**/.makefile.coq.conf
**.vo
**.vos
**.vio
**.vok
**.v.d
**.glob
**.v#
**.cmo
**.cmi
**.cmx
**.null
**.v~
**.log
**.aux
**.bbl
**.blg
**.fdb_latexmk
**.fls
**.lia.cache
**.out
**.DS_Store
**.run.xml
**.bcf
**.pdf
**.nav
**.snm
**.toc
**.vrb
*auto
