.Makefile.coq
.Makefile.coq.d
.makefile.coq.conf
**.vo
**.vos
**.vio
**.vok
**.v.d
**.glob
*.v#
**.cmo
**.cmi
**.cmx
**.null
**/_build
*~
*.v~
*.log
*.aux
*.bbl
*.blg
*.fdb_latexmk
*.fls
**.lia.cache
